@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial , sans-serif, "Microsoft YaHei", "΢���ź�", STXihei, "����ϸ��", serif;
}



.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
.header {
  padding-bottom: 20px;
}
h3 {
    font-size: 34px;
        margin-top: 0;
            margin-bottom: 30px;
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  border: 2px dashed #ccc;
      border-radius: 10px !important;
          background: white;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
.marketing {
margin-top: 20px;
}
.pic_desc {
    overflow: hidden;height: 40px;margin-bottom: 5px;margin-top: -15px;
}
.pic_preview {
    width: 90px;
    height: 90px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic_preview .pic_mask {
    display:none;
    height: 100%;
    width: 100%;
    line-height: 90px;
    text-align: center;
    background: rgba(0,0,0,.7);
    font-size: 13px;
    color: white;
}
.pic_preview .danger {
    color: #cb171e;
}
h1 {
        margin-top: 0;
            margin-bottom: 0;
                line-height: 40px;
                    font-size: 34px;
}
.radio {
    display: inline-block;
    margin-right: 10px;
}
.big_download {
    padding: 7px;
    display:none;
}

@media screen and (max-width: 768px) {
    .footer {
        text-align: center;
    }
    h1 {
        font-size: 25px;
    }
}

@media screen and (min-width: 768px) {
    .footer .social-share {
        text-align: right;
    }
}



.free_dot {
    height: 12px;
    width: 12px;
    background: #e51c23;
    border-radius: 100%;
    display: block;
    float: right;
    margin-top: -2px;
}


.a_upgrade {
    cursor: pointer;
}
.hot_label {
    z-index: 2;
    font-weight: bold;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.58) 9px 1px 11px 0px;
    text-align: center;
    position: relative;
    width: 200px;
    top: 18px;
    color: #ffffff;
    right: -60px;
    line-height: 35px;
    background: #FF5722;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}
